<div class="img">       
        <img  [src]="'assets/gastracker.png'" class="img-fluid" alt="Responsive image" style="width: 8cm;">
    
</div>
<form class="mx-auto" style="width: 600px;">
       
        <div class="form-group" style = "padding-top: 10px;">
            <label for="inputAddress">Cpf</label>
            <input type="text" class="form-control" id="inputNome" [(ngModel)]="novoUsuario.cpf" name = "nome">
        </div>
         <div class="form-group">
            <label for="inputAddress">Senha</label>
            <input type="text" class="form-control" id="inputSenha" [(ngModel)]="novoUsuario.senha"  name = "senha">
         </div>
    
         
</form>
<div class="btn"  >  
    <button type="submit" class="btn btn-primary" (click)="criarUsuario()" >Login</button>
</div>

    